.cat-search{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display : flex;
    gap :1rem;
}

.lessthan{
    background-color: blue;
    color : white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.cat-input input{
    width: 15rem;
    color : rgb(14, 12, 12);
    font-size: 1.2rem;
    height: 1.5rem;
    border-color: blue;
    border-radius: 15px;
    background-color: rgb(221, 226, 235);
    font-weight: bold;
    font-style: italic;
}

.cat-header{
    padding-top:2rem;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.categories{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap : 1rem;
}

.items{
    color : white;
    background-color: blue;
    width : 5rem;
    height : 6rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}
.items img{
    max-width: 100%;
    max-height: 80%;
}
.cat-more{
    color : white;
    background-color: blue;
    width : 5rem;
    height : 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}